body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #33001b, #f08);
}

.container{
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    animation: neonGlow 1s infinite;
}

@keyframes neonGlow {
    from{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    to{
        box-shadow: 0 0 20px #e61380,
        0 0 30px #ce1c78,
        0 0 40px #ff0084;
    }
}

h1{
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;

}

textarea{
    width: 500px;
    height: 350px;
    margin: 10px auto;
    display: block;
    padding: 20px;
    color: rgb(0,0,0);
    border: 1px solid #ddd;
    border-radius: 5px;
    /*Set no resizing text area*/
    resize: none; 
    
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

button{
    padding: 15px 30px;
    background-color: #4caf50;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #33022b;
}

#result{
    font-size: 20px;
    margin-top: 20px;
    color: azure;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    animation: neonGlow 1s infinite alternate;
}
